.vid {
    position: fixed ;
    opacity: 0.5;
    padding: 1%; 
    width:100%;
    background-color: #F6F6F9;
    z-index:99998;
}

.vid video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
}

.tt {

display: inline-block;

    padding-left:30%;
    text-align:justify;
margin-left:20%;
padding-top:20%;



}
.hrh{
    display: block;
    position: relative;
    vertical-align: meddle;
    font-size:1em;
    marin-bottom:3em;
    text-align: center;
}
.leterd{
    color:#B6ADF6;
}


.ser {
    background-color: #b44131;
}

.call h1 {
    color: #000;
}
.lasdd{
padding: 10px;
background-color:#0B0B28;
    color:#FFFFFF;
    text-align: right;
}
.togeth{

    text-align: center;
    color:#B0B4FF;
    font-size:1.2em;

}